android/key.properties
android/local.properties
*.jks

.env

# Flutter/Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db